.cuadrado {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 0px;
    border: 1px solid #000;
    transition-property: width, border-radius, background-color;
    transition-duration: 500ms, 1s, 0.5s; /* o 0.5s */
    transition-timing-function: ease-in-out, linear, ease-in-out;
    transition-delay: 1s;

    transition: width 500ms ease-in-out 1s,
    border-radius 1s linear 1s,
    background-color 0.5s ease-in-out 1s;
}

.cuadrado:hover {
    width: 150px;
    border-radius: 16px;
    background-color: blue;
}

.circulo {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 0px;
    right: 0px;
    animation-name: animacion1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes animacion1 {
    /* from {
        top: 0px;
        background-color: aqua;
    }
    to {
        top: 100vh;
        background-color: red;
    } */

    0% {
        top: 0px;
        background-color: aqua;
    }
    50% {
        border-radius: 0px;
        right: 50px;
    }
    60% {
        right: 0px;
    }
    100% {
        top: 100vh;
        background-color: red;
    }
}